# hidden files
.*
!.git*
!.editorconfig
!.nojekyll

# bundler cache
_site
vendor
Gemfile.lock

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

.jekyll-cache/
.sass-cache/
.jekyll-metadata

.bundle/
vendor/

_site/
